.modal {
  padding: 30px;
}
.modal input {
  width: 100%;
  background: var("--bg-tertiary");
  border: 1px var("--border-color");
  padding: 8px;
  margin: 12px 0;
}
.modal-error {
  color: var("--accent-red");
}
.modal-buttons {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}
